**map** apply a function only to a series(column in a datafram)

**apply** can apply a function to multiple columns in a dafaframe, or a series.

**applymap** can apply a function element-wise for a dataframe.

**applymap** is only a function for dataframe
**apply** works on both series and dataframe
**map** is only a method for series

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'Customer': 'Mr.Burns Lisa Marge Milhouse Bart Homer'.split(),
 'Costs_1': np.arange(6) *2, 'Costs_2': np.arange(6) * 4, 'Costs_3': np.arange(6) * 6})
df

   Customer  Costs_1  Costs_2  Costs_3
0  Mr.Burns        0        0        0
1      Lisa        2        4        6
2     Marge        4        8       12
3  Milhouse        6       12       18
4      Bart        8       16       24
5     Homer       10       20       30

**apply** a function to a dataframe's rows (vertically)

In [3]:
def diff_calc(x):
    diff = x.max() - x.min()
    return diff

df[['Costs_1', 'Costs_2', 'Costs_3']].apply(diff_calc)

Costs_1    10
Costs_2    20
Costs_3    30
dtype: int64

**apply** a function to a dataframe's columns (horizontally)

In [4]:
df[['Costs_1', 'Costs_2', 'Costs_3']].apply(diff_calc, axis=1)

0     0
1     4
2     8
3    12
4    16
5    20
dtype: int64

**apply** works on a series too.

In [5]:
df['Costs_1'].apply(lambda x: x+1)

0     1
1     3
2     5
3     7
4     9
5    11
Name: Costs_1, dtype: int64

**applymap** a function to all of elements of a dataframe.

In [6]:
def simpsons_string(x):
    result = "S_" + str(x)
    return result

In [7]:
df.applymap(simpsons_string)

     Customer Costs_1 Costs_2 Costs_3
0  S_Mr.Burns     S_0     S_0     S_0
1      S_Lisa     S_2     S_4     S_6
2     S_Marge     S_4     S_8    S_12
3  S_Milhouse     S_6    S_12    S_18
4      S_Bart     S_8    S_16    S_24
5     S_Homer    S_10    S_20    S_30

**applymap** is only a function for dataframe

In [8]:
df['Costs_1'].applymap(simpsons_string)

AttributeError: 'Series' object has no attribute 'applymap'

**map** a function only to a single column

In [9]:
 df['Customer'].map(simpsons_string)

0    S_Mr.Burns
1        S_Lisa
2       S_Marge
3    S_Milhouse
4        S_Bart
5       S_Homer
Name: Customer, dtype: object

**map** is not a method for dataframe

In [10]:
df.map(simpsons_string)

AttributeError: 'DataFrame' object has no attribute 'map'