<a href="https://colab.research.google.com/github/zhensongren/learn-python/blob/master/map%2C_apply%2C_applymap_in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import pandas as pd
import numpy as np
df = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])
df

       A   B   C
Row 1  1  10  20
Row 2  2  20  40
Row 3  3  30  60
Row 4  4  40  80

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Row 1 to Row 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

## apply

In [91]:
def get_sum(row):
    return row.sum()
    
df.loc['Row 5'] = df.apply(get_sum, axis=0)
df

        A    B    C
Row 1   1   10   20
Row 2   2   20   40
Row 3   3   30   60
Row 4   4   40   80
Row 5  10  100  200

apply a function along the row(axis = 1) or column(axis = 0).

In [92]:
df['D'] = df.apply(np.sum, axis=1)
df

        A    B    C    D
Row 1   1   10   20   31
Row 2   2   20   40   62
Row 3   3   30   60   93
Row 4   4   40   80  124
Row 5  10  100  200  310

In [93]:
df['even_A'] = df['A'].apply(lambda x:2*x if x%2!=0 else x)
df

        A    B    C    D  even_A
Row 1   1   10   20   31       2
Row 2   2   20   40   62       2
Row 3   3   30   60   93       6
Row 4   4   40   80  124       4
Row 5  10  100  200  310      10

## map

In [94]:
df['E'] = df['A'].map(np.square)
df

        A    B    C    D  even_A    E
Row 1   1   10   20   31       2    1
Row 2   2   20   40   62       2    4
Row 3   3   30   60   93       6    9
Row 4   4   40   80  124       4   16
Row 5  10  100  200  310      10  100

In [95]:
df['odd_A'] = df['A'].apply(lambda x:2*x + 1 if x%2==0 else x)
df

        A    B    C    D  even_A    E  odd_A
Row 1   1   10   20   31       2    1      1
Row 2   2   20   40   62       2    4      5
Row 3   3   30   60   93       6    9      3
Row 4   4   40   80  124       4   16      9
Row 5  10  100  200  310      10  100     21

# applymap

Python function, returns a single value from a single value.

In [96]:
df.applymap(lambda x:0 if x < 5 else x)

        A    B    C    D  even_A    E  odd_A
Row 1   0   10   20   31       0    0      0
Row 2   0   20   40   62       0    0      5
Row 3   0   30   60   93       6    9      0
Row 4   0   40   80  124       0   16      9
Row 5  10  100  200  310      10  100     21

In [97]:
df.applymap(lambda x:0)

       A  B  C  D  even_A  E  odd_A
Row 1  0  0  0  0       0  0      0
Row 2  0  0  0  0       0  0      0
Row 3  0  0  0  0       0  0      0
Row 4  0  0  0  0       0  0      0
Row 5  0  0  0  0       0  0      0